body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x:  hidden;
  background-color: rgb(206, 227, 248);
}

#logo {
  height: 125px;
  width: 100%;
  background-color: rgb(51, 102, 153);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo img {
  height: 50px;
}

#logo h1 {
  color: white;
  font-family: "Roboto";
  font-weight: 100;
}

#sort {
  width: 100%;
  height: 40px;
  background-color: white;
  border-top: 1px solid #ff4500;
  border-bottom: 1px solid #ff4500;
}

#sort > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

#sort p {
  font-family: "Dosis";
  color: rgb(51, 102, 153);
  font-weight: bold;
  cursor: pointer;
  margin-left: 25px;
}

#sort p:nth-child(1) {
  margin: 0;
  cursor: default;
}

#sort p:nth-child(4) {
  color: #ff4500;
  text-shadow: 0px 1px 0px black;
}

#more {
  width: 100%;
}

#more > div {
  background-color: rgb(51, 102, 153);
  color: white;
  font-family: "Dosis";
  font-size: 1.1em;
  height: 40px;
  width: 200px;
  text-align: center;
  line-height:  40px;
  border-radius: 10px;
  margin: 50px auto;
  cursor: pointer;
}

#more > div:hover {
  background-color: rgb(90, 140, 190);
}

/* ~~~ ORIGINAL IMAGES ~~~ */

#originals {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.originalCard {
  height: 400px;
  width: 300px;
  background-color: white;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0,0,0,0);
  -webkit-box-shadow: 0 5px 5px 1px rgba(0,0,0,0.3);
          box-shadow: 0 5px 5px 1px rgba(0,0,0,0.3);
  border-radius: 5px;
  margin: 30px;
}

.originalImage {
  height: 60%;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0,0,0,0);
}

.originalImage div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.originalInfo {
  height: 40%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.originalInfo p {
  font-family: "Roboto";
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 40px;
  margin: 0 0;
  opacity: 0.75;
  font-weight: bold;
  color: rgb(31, 82, 133);
  font-style: italic;
}

.originalInfo a {
  font-family: "Dosis";
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: rgb(51, 102, 153);
  text-align: center;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-size: 1.1em;
}

.originalInfo a:link {
  text-decoration: none;
  color: white;
}

.originalInfo a:hover {
  background-color: rgb(90, 140, 190);
}

/* ~~~ end of Original Images ~~~ */

/* ~~~ ORIGINAL AREA ~~~ */

#modal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.85);
}

#modal a {
  background-color: rgb(51, 102, 153);
  color: white;
  font-family: "Dosis";
  font-size: 1.1em;
  height: 40px;
  width: 200px;
  text-align: center;
  line-height:  40px;
  border-radius: 10px;
}

#modal a:link{
  text-decoration: none;
  color: white;
}

#modal a:hover {
  background-color: rgb(90, 140, 190);
}

#close {
  position: fixed;
  left: 97%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

#originalArea {
  border-right: solid white 1px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

#originalArea div {
  width: 100%;
  height: 100%;
}

#originalArea div h2 {
  color: white;
  text-align: center;
  padding: 0 20px;
  font-family: "Roboto";
}

#originalArea div p {
  color: white;
  font-style: italic;
  text-align: center;
  font-family: "Dosis";
  font-size: 1.2em;
  opacity: 0.85;
}

#originalArea div img {
  display: block;
  max-width: 90%;
  max-height: 70%;
  margin: 30px auto;
}

#originalArea > div > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* ~~~ end of Original Area ~~~ */

/* ~~~ PHOTOSHOPPED AREA ~~~ */


#shoppedArea {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

#shoppedArea > div {
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#shoppedArea div p {
  color: white;
  font-style: italic;
  text-align: center;
  font-family: "Dosis";
  font-size: 1.2em;
  opacity: 0.85;
}

#shoppedTitle {
  color: white;
  text-align: center;
  padding: 0 20px;
  font-family: "Roboto";
}

#shoppedImage {
  max-width: 80%;
  max-height: 60%;
  display: block;
  margin: 0 auto;
}

#shoppedButtons {
  width: 70%;
  height: 30px;
  position: absolute;
  top: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#leftClick, #rightClick {
  color: white;
  position: fixed;
  font-size: 75px;
  font-weight: bold;
  top: 35%;
  cursor: pointer;
  height: 100px;
  width: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#leftClick {
  left: 33%;
  display: none;
}

#rightClick {
  left: 95%;
}
